.recipes-list {
    border: rgb(194, 194, 218) 2px dashed;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
}

.recipe {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    border: pink 1px solid;
    margin: 10px;
    padding: 20px;
    font-family: 'Source Serif 4', sans-serif;
}

.recipe-title {
    text-transform: uppercase;

}

.ingredients-list {
    border: pink 1px dashed;
    padding: 10px;
}